-- add comment


USE [frodo_production]
GO
ALTER INDEX [i_TRLOG_MAXID_MsgNo_MsgText] ON [dbo].[TRLOG_MAXID] REBUILD PARTITION = ALL WITH (PAD_INDEX = OFF, 
STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, ONLINE = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100)
GO
